.Header.start > .Content {
  height: var(--header-height);
}

.Header {
  --header-horizontal-margin: var(--page-margin);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  z-index: var(--header-z-index);
  transition: transform 300ms ease;
  background: var(--color-brand-teal)
}

.Header.down {
  transform: translateY(-100%);
}

.Content {
  padding: 0 var(--header-horizontal-margin);
  width: 100vw;
  max-width: var(--content-max-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  height: calc(var(--header-height) * 0.8);
  transition: height 100ms;
}

.Nav {
  display: flex;
  gap: 2.5rem;
}

.Nav > a {
  position: relative;
  color: var(--color-background-secondary);
  font-weight: var(--font-weight-light);
}

.Nav > a:before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background: var(--color-accent-secondary);
  bottom: -2px;
  left: 0;
  transition: opacity 200ms;
}

.Nav > a:hover:before, .Nav >:focus-visible:before {
  opacity: 0;
}

@media only screen and (max-width: 750px) {
  .Nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: var(--color-text-primary);
    flex-direction: column;
    padding: var(--page-margin);
    padding-top: 4.5rem;
    gap: 2rem;
    overflow: hidden;
    transition: all 0.2s ease-out;
  }

  .Nav > a {
    transition: all 0.2s ease;
    font-weight: 600;
  }

  .Nav.hide > a {
    opacity: 0;
    transform: translateY(-10px);
  }

  .Nav.show > a {
    transition-delay: 0.2s;
    opacity: 1;
  }

  .Nav.hide {
    width: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
