.header {
  --header-horizontal-margin: var(--page-margin);
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  z-index: var(--header-z-index);
  background: var(--color-brand-extra-light-teal);
  padding-left: var(--header-horizontal-margin);
  padding-right: var(--header-horizontal-margin);
}

.header .nav > a {
  color: var(--color-text-primary);
}

.logo {
  z-index: calc(var(--header-z-index) + 1);
}

.content {
  position: relative;
  width: 100vw;
  max-width: var(--content-max-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  height: var(--header-height);
  transition: height 100ms;
}

.nav {
  display: flex;
  gap: 2.5rem;
}

@media only screen and (max-width: 750px) {
  .nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    margin-left: calc(var(--page-margin) * -1);
    margin-right: calc(var(--page-margin) * -1);
    background: var(--color-brand-extra-light-teal);
    flex-direction: column;
    padding: var(--page-margin);
    padding-bottom: 3rem;
    padding-top: calc(var(--header-height) + 2rem);
    gap: 2rem;
    overflow: hidden;
    transition: all 300ms ease-in-out;
  }

  .nav > a {
    transition: all 300ms ease;
    font-weight: 600;
  }

  .nav.hide > a {
    opacity: 0;
    transform: translateY(-10px);
  }

  .nav.show {
    box-shadow: 0 0 15px 0 black;
  }

  .nav.show > a {
    transition-delay: 300ms;
    opacity: 1;
  }

  .nav.hide {
    padding-top: 0;
    padding-bottom: 0;
    transform: translateY(-100%);
  }
}
