.Header {
  --header-horizontal-margin: var(--page-margin);
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  z-index: var(--header-z-index);
  background: var(--color-brand-teal);
  padding-left: var(--header-horizontal-margin);
  padding-right: var(--header-horizontal-margin);
}

.Header.light {
  background: var(--color-brand-extra-light-teal);
}

.Header.light .Nav > a {
  color: var(--color-text-primary);
}

.Logo {
  z-index: calc(var(--header-z-index) + 1);
}

.Content {
  position: relative;
  width: 100vw;
  max-width: var(--content-max-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  height: var(--header-height);
  transition: height 100ms;
}

.Nav {
  display: flex;
  gap: 2.5rem;
}

@media only screen and (max-width: 750px) {
  .Nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    background: var(--color-brand-dark-teal);
    flex-direction: column;
    padding: var(--page-margin);
    padding-bottom: 3rem;
    padding-top: calc(var(--header-height) + 3rem);
    gap: 2rem;
    overflow: hidden;
    transition: all 300ms ease-in-out;
  }

  .Header.light .Nav {
    background: var(--color-brand-extra-light-teal);
  }

  .Nav > a {
    transition: all 300ms ease;
    font-weight: 600;
  }

  .Header.transparent .Nav > a {
    color: var(--color-brand-extra-light-teal);
  }

  .Nav.hide > a {
    opacity: 0;
    transform: translateY(-10px);
  }

  .Nav.show > a {
    transition-delay: 300ms;
    opacity: 1;
  }

  .Nav.hide {
    padding-top: 0;
    padding-bottom: 0;
    transform: translateY(-100%);
  }
}
