.body {
  margin-bottom: 2rem;
}

.link {
  color: var(--semantic-color-interaction-primary);
}

.link:focus-visible,
.link:focus {
  outline: var(--semantic-color-interaction-outline);
}

.list {
  color: var(--semantic-color-text-primary);
  font-size: var(--font-size-body);
  margin: 0 0 2rem;
  max-width: var(--text-max-width);
  width: 100%;
}

.list > li {
  line-height: var(--line-height-body);
}

.ingress {
  margin-top: 2rem;
}

.section {
  max-width: 100%;
}

.section > article {
  flex: 1;
  min-width: 300px;
}

.section > article > h2 {
  margin-bottom: 1.5rem;
}

.section > article > p {
  margin-bottom: 1rem;
}

.image {
  position: relative !important;
  height: unset !important;
}

.imageText {
  margin-top: 8px;
  font-style: italic;
  font-size: var(--font-size-details);
}