.container > p {
  transition: all 0.1s ease;
  transform: scale(1);
  display: flex;
  align-items: center;
  gap: 8px;
}

/*.container.active:not(:active):not(:hover) > p {*/
/*  background: var(--semantic-color-text-primary);*/
/*  color: var(--semantic-color-background-primary);*/
/*}*/

.container:hover > p {
  background: var(--teal-100);
  transform: scale(1.025);
}

.container:active > p {
  background: var(--teal-200);
  transform: scale(0.975);
}

.container > p {
  padding: 8px 12px;
  border-radius: 4px;
}
