.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: max-content;
  width: max-content;
  gap: 16px;
}

.card > p {
  margin: 0;
}

.card img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.details {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-semibold);
}

.capacity {
  font-size: var(--font-size-details);
}

.email {
  font-size: var(--font-size-details);
  color: var(--semantic-color-text-primary);
}
