html,
body {
  padding: 0;
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
  background-color: var(--semantic-color-background-primary);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p {
  color: var(--semantic-color-text-primary);
}

mark {
  background: transparent;
  font-weight: var(--font-weight-bold);
  color: var(--semantic-color-interaction-primary);
}

:root {
  /*Brand colors*/
  --color-brand-dark-teal: #1e505f;
  --color-brand-light-teal: #effcff;
  --color-brand-pink: #e0006c;
  --color-brand-grey: #121e25;
  --color-brand-dark-red: #6b283e;

  /*Semantid colors*/
  --semantic-color-text-primary: var(--color-brand-grey);
  --semantic-color-text-primary-inverse: var(--color-brand-light-teal);
  --semantic-color-background-primary: var(--color-brand-light-teal);
  --semantic-color-interaction-primary: var(--color-brand-pink);
  --semantic-color-disabled: #878c8c;
  --semantic-color-interaction-outline: 2px solid var(--color-brand-dark-teal);

  /*Text*/
  --font-family-primary: "IBM Plex Sans", sans-serif;
  --font-size-buttons: 1rem;
  --font-size-buttons-small: 0.8rem;
  --font-size-body: 1.125rem;
  --font-size-title-extra-small: 1.2rem;
  --font-size-title-small: 1.5rem;
  --font-size-title-medium: 2.5rem;
  --font-size-title-medium-large: 3rem;
  --font-size-title-large: 4rem;
  --font-size-details: 1rem;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-black: 900;
  --font-weight-light: 300;
  --line-height-body: 2rem;
  --line-height-details: 1.75rem;

  /*Layout*/
  --page-margin: 4rem;
  --header-height: 110px;
  --content-max-width: 1220px;
  --header-z-index: 10000;
  --padding-horizontal: calc(
    max((100vw - var(--content-max-width)) / 2, var(--page-margin))
  );
  --text-max-width: 750px;
  --block-l: 32px;
  --block-m: 24px;
  --block-s: 16px;
  --block-xs: 8px;
}

@media only screen and (max-width: 1250px) {
  :root {
    /*Text*/
    --font-size-buttons: 1rem;
    --font-size-body: 1.125rem;
    --font-size-title-medium: 1.5rem;
    --font-size-title-medium-large: 2.25rem;
    --font-size-title-large: 3rem;

    /*Layout*/
    --page-margin: 2rem;
  }
}

@media only screen and (max-width: 750px) {
  :root {
    /*Text*/
    --font-size-title-large: 2rem;

    /*Layout*/
    --header-height: 75px;
    --page-margin: 1.5rem;
  }
}
