.page {
  display: flex;
}

.page header {
  display: flex;
  padding: 16px;
}

.page main {
  padding: 16px;
}

.nav {
  background: #ffffff;
  min-height: 100vh;
  padding: 16px 0;
}

.nav .menu {
  list-style: none;
  padding: 16px;
  margin: 0;
}
