.header {
  margin-bottom: var(--block-m);
}

.main {
  width: 100%;
}

.content {
  position: relative;
  margin-bottom: var(--block-l);
  gap: var(--block-xs);
  flex-direction: column;
}

.content > * {
  max-width: var(--text-max-width);
}

.content h1,
.content h2 {
  margin-bottom: var(--block-m);
}

.link {
  font-size: var(--font-size-body);
}