.section {
  padding-top: 3rem;
  padding-bottom: 5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.header {
  margin-bottom: var(--block-m);
}

.heading {
  margin-bottom: var(--block-m);
}

.published {
  margin-bottom: 4rem;
}

@media screen and (max-width: 750px) {
  .published {
    margin-bottom: 2rem;
  }
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--text-max-width);
}

.content p {
  margin-bottom: var(--block-s);
}

.content h2 {
  margin-bottom: var(--block-s);
}

.content h3 {
  margin-bottom: var(--block-xs);
}

.content img {
  margin-bottom: var(--block-s);
}

.content ul {
  margin-bottom: var(--block-s);
}