.header {
  margin-bottom: var(--block-m);
}

.content {
  flex-direction: column;
  flex-wrap: unset;
  margin-bottom: var(--block-m);
}

.fetchMore {
  justify-content: center;
  margin-bottom: var(--block-l);
}

.grid {
  --cards-per-row: 1;
  --gap: 2rem;
  display: grid;
  grid-template-columns: repeat(var(--cards-per-row), 1fr);
  column-gap: var(--block-m);
  row-gap: var(--block-l);
}

.card {
  --gap-offset: calc(var(--gap) * (var(--cards-per-row) - 1));

  max-width: calc(
    (var(--content-max-width) - var(--gap-offset)) / var(--cards-per-row)
  );
}

@media only screen and (min-width: 750px) {
  .grid {
    --cards-per-row: 2;
  }
}

@media only screen and (min-width: 1500px) {
  .grid {
    --cards-per-row: 3;
  }
}
