.container {
  gap: var(--block-s);
  flex-direction: column;
}

.container > h1 {
  margin-bottom: var(--block-l);
}

.container > h2 {
  margin-top: var(--block-l);
}

.container > ul {
  margin-bottom: var(--block-s);
}
