.button {
  --button-background-color: var(--color-brand-dark-teal);
  --button-height: 48px;
  --button-primary-color: #ffffff;
  height: var(--button-height);
  width: max-content;
  display: flex;
  gap: 8px;
  align-items: center;
  outline: none;
  border: none;
  font-size: var(--font-size-buttons);
  letter-spacing: 0.0625rem;
  white-space: nowrap;
  padding: 12px 20px;
  border-radius: 10px;
  font-weight: var(--font-weight-semibold);
  font-family: inherit;
  cursor: pointer;
  transition: color 0.1s ease, background 0.1s ease, box-shadow 0.1s ease;
  user-select: none;
}

.button.small {
  font-size: var(--font-size-buttons-small);
  --button-height: 40px;
}

@media only screen and (max-width: 800px) {
  .button {
    letter-spacing: 0;
  }
}

.button.primary,
.button.secondary:hover,
.button.secondary:focus-visible {
  background: var(--button-background-color);
  color: var(--button-primary-color);
}

.button.secondary:hover,
.button.secondary:focus-visible {
  box-shadow: 0 0 0 3px var(--button-background-color);
}

.button.secondary {
  color: var(--button-background-color);
  background: var(--semantic-color-background-primary);
  box-shadow: inset 0 0 0 3px var(--button-background-color);
}

.button.tertiary {
  background: none;
  color: var(--button-background-color);
}

.button.primary:hover,
.button.primary:focus-visible {
  color: var(--button-background-color);
  background: var(--semantic-color-background-primary);
  box-shadow: 0 0 0 3px var(--button-background-color);
}

.button.primary:active,
.button.secondary:active,
.button.tertiary:active {
  color: var(--button-primary-color);
  background: var(--color-brand-teal);
  box-shadow: none;
}

.button.destructive {
  color: var(--semantic-color-text-primary-inverse);
  background: #b90606;
}

.button.destructive:hover,
.button.destructive:focus-visible {
  color: #b90606;
  background: transparent;
  box-shadow: 0 0 0 3px #b90606;
}

.button.destructive:active {
  color: var(--semantic-color-text-primary-inverse);
  background: black;
  box-shadow: none;
}