.label {
  display: flex;
  gap: 8px;
  color: var(--semantic-color-text-primary);
  line-height: var(--line-height-body);
  cursor: pointer;
}

.label input[type="checkbox"] {
  --size: var(--font-size-body);
  --margin: calc((var(--line-height-body) - var(--size)) / 2);
  appearance: none;
  background-color: transparent;
  margin: var(--margin) 0;
  font: inherit;
  color: var(--semantic-color-text-primary);
  width: var(--size);
  height: var(--size);
  border: 1px solid var(--semantic-color-text-primary);
  border-radius: 4px;
  flex-shrink: 0;
  display: grid;
  place-content: center;
  transition: 0.1s background-color ease;
}

.label input[type="checkbox"]:checked {
  background-color: var(--semantic-color-interaction-primary);
}

.label input[type="checkbox"]::before {
  --check-size: calc(var(--size) - 4px);
  content: "";
  width: var(--check-size);
  height: var(--check-size);
  opacity: 0;
  transform: translateY(2px) scale(0.9);
  transition: 0.1s opacity ease, 0.1s transform ease;
  transition-delay: 0s;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='var(--size)' height='var(--size)' fill='%23000000' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpolyline points='216 72 104 184 48 128' fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='48'%3E%3C/polyline%3E%3C/svg%3E");
}

.label input[type="checkbox"]:checked::before {
  opacity: 1;
  transform: translateY(0) scale(1);
  transition-delay: 0.1s;
}
