.container {
    position: relative;
    background: var(--color-brand-teal);
    padding: 2rem var(--padding-horizontal);
    height: calc(100vh - 110px);
    justify-content: center;
    align-items: center;
}

.container h1 {
    color: var(--color-brand-light-teal);
}

.container a {
    color: var(--color-brand-light-teal);
}

.container a:before {
    background: var(--color-brand-light-teal);
}

.frame {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.text {
    position: absolute;
    width: 60%;
    min-width: 300px;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.illustration {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(10, auto);
    right: 0;
    max-width: 100%;
}

.illustration svg {
    width: 64px;
    height: 64px;
    max-width: min(64px, calc(((100vw * 1) - (var(--padding-horizontal) * 2)) / 10));
    max-height: min(64px, calc(((100vw * 1) - (var(--padding-horizontal) * 2)) / 10));
}

@media only screen and (max-width: 1250px) {
    .container {
        flex-direction: column;
        gap: 0;
    }

    .text {
        flex: unset;
        max-width: 800px;
        padding: 1rem;
    }
}

@media only screen and (max-width: 1000px) {
    .container {
        height: max-content;
    }

    .frame {
        height: max-content;
        flex-direction: column-reverse;
        align-items: start;
        justify-content: center;
        gap: 4rem;
    }

    .text {
        position: relative;
    }

    .illustration {
        position: relative;
    }
}

@media only screen and (max-width: 750px) {
    .container {
        height: calc(100vh - 75px);
    }
}