.container {
    background-color: var(--semantic-color-background-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

@media only screen and (max-width: 1250px) {
    .container {
        flex-direction: column;
        gap: 0;
    }

    .text {
        flex: unset;
        margin-top: 3.5rem;
        max-width: 800px;
    }
}

@media only screen and (max-width: 750px) {
    .container {
        height: max-content;
        min-height: unset;
    }

    .text {
        height: max-content;
        margin: 0;
    }
}
