.container {
  position: relative;
  height: 700px;
}

@media only screen and (max-width: 1000px) {
  .container {
    height: 500px;
  }
}

@media only screen and (max-width: 750px) {
  .container {
    height: 400px;
  }
}

.container img {
  object-fit: cover;
}