.container {
  margin-top: 2rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: var(--font-size-body);
}

@media screen and (min-width: 750px) {
  .container {
    margin-top: 4rem;
  }
}

.left {
  justify-self: flex-start;
  flex: 1;
}

.right {
  text-align: right;
  justify-self: flex-end;
  flex: 1;
}
