.HeroText {
    position: relative;
    display: flex;
    background: var(--color-brand-extra-light-teal);
    width: 100%;
    margin-bottom: 3rem;
}

.HeroText > h1 {
    position: relative;
    background: var(--color-brand-teal);
    color: var(--color-brand-extra-light-teal);
    padding: 4rem;
    width: max-content;
    max-width: 900px;
}

.Content {
    max-width: var(--text-max-width);
    width: 100%;
}

.Body {
    margin-bottom: 2rem;
}

.Link {
    color: var(--color-brand-light-red);
}

.Link:focus-visible, .Link:focus {
    outline: var(--outline);
}

.ArticleContent {
    flex-direction: column;
    gap: 1rem;
}

.LinkSummary {
    align-self: flex-end;
}