.Hero {
    background-color: var(--color-accent-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
    padding-bottom: 4rem;
    height: max(calc(100vh - var(--header-height)), 800px);
}

.HeroText {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.HeroText > h1 {
    color: var(--color-background-secondary);
}

.HeroImage {
    flex: 1;
    min-height: 200px;
    max-width: 500px;
}

@media only screen and (max-width: 1250px) {
    .Hero {
        flex-direction: column;
        justify-content: center;
        padding-top: 4rem;
        gap: 0;
    }

    .HeroText {
        flex: unset;
        margin-top: 3.5rem;
        max-width: 800px;
        align-self: flex-start;
    }
}

@media only screen and (max-width: 750px) {
    .Hero {
        height: max-content;
        padding-top: 2rem;
        min-height: unset;
    }

    .HeroText {
        min-height: 200px;
        height: max-content;
        margin: 0;
    }

    .HeroImage {
        min-height: 200px;
        max-height: min(500px, 80vw);
        max-width: min(500px, calc(100vw - var(--padding-horizontal)));
        flex: unset;
    }
}

.ScrollButton {
    background: none;
    border: none;
    width: max-content;
    padding-left: 0;
    padding-right: 0;
    font-size: var(--font-size-body);
    font-family: inherit;
    color: var(--color-background-secondary);
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    cursor: pointer;
}

.ScrollButton:before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background: var(--color-accent-secondary);
    bottom: -2px;
    left: 0;
    transition: opacity 200ms;
}

.ScrollButton > svg {
    transition: transform 200ms;
}

.ScrollButton:hover > svg {
    transform: translateY(5px);
}

.ScrollButton:hover:before {
    opacity: 0;
}