.container {
  --gap: 0.5rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--gap);
}

.container a,
.container p {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-body);
  color: var(--semantic-color-text-primary);
  line-height: var(--font-size-body);
}

.container svg polyline {
  stroke: var(--semantic-color-text-primary);
}

.container span {
  display: flex;
  align-items: center;
  gap: var(--gap);
}
