.Breadcrumbs {
    --gap: 0.5rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--gap);
}

.Breadcrumbs a {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-body);
    color: var(--color-text-primary);
}

.Breadcrumbs span {
    display: flex;
    align-items: center;
    gap: var(--gap);
}