.button {
  --button-height: 48px;
  height: var(--button-height);
  display: flex;
  align-items: center;
  outline: none;
  border: none;
  font-size: var(--font-size-buttons);
  letter-spacing: 0.0625rem;
  white-space: nowrap;
  padding: 12px 20px;
  border-radius: 10px;
  font-weight: var(--font-weight-semibold);
  font-family: var(--font-family-primary);
  cursor: pointer;
  transition: all 0.1s ease;
}

@media only screen and (max-width: 800px) {
  .button {
    letter-spacing: 0;
  }
}

.button.primary {
  background: var(--color-brand-light-red);
  color: var(--color-brand-extra-light-teal);
}

.button.secondary {
  color: var(--color-brand-light-red);
  background: var(--color-brand-extra-light-teal);
  box-shadow: 0 0 0 3px var(--color-brand-light-red);
}

.button.tertiary {
  background: none;
  color: var(--color-brand-light-red);
}

.button.primary:hover,
.button.primary:focus-visible {
  color: var(--color-brand-light-red);
  background: var(--color-brand-extra-light-teal);
  box-shadow: 0 0 0 3px var(--color-brand-light-red);
}

.button.primary:active {
  color: var(--color-brand-extra-light-teal);
  background: var(--color-brand-dark-red);
  box-shadow: none;
}
