.list {
  --accent-color: var(--color-brand-green);
  --border-radius: 4px;
  position: relative;
  margin: 0;
  padding: 1rem 1rem 1rem 2.5rem;
  background: transparent;
  box-shadow: 0 0 0 1px var(--accent-color);
  border-radius: var(--border-radius);
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
  gap: 1rem;
}

.list:before {
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 100%;
  background: var(--accent-color);
}

.list > li {
  display: flex;
  /*justify-content: space-between;*/
  flex-wrap: wrap;
}

.list > li > p {
  white-space: normal !important;
  font-size: var(--font-size-details);
}

.list > li > p:first-of-type {
  font-weight: var(--font-weight-semibold);
}

.list > li > p:last-of-type {
  margin-left: 1rem;
  /*text-align: right;*/
}
