.heading {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-semibold);
  color: var(--color-text-heading);
  padding: 0;
  margin: 0;
}

.small {
  font-size: var(--font-size-title-small);
}

.medium {
  font-size: var(--font-size-title-medium);
}

.medium-large {
  font-size: var(--font-size-title-medium-large);
}

.large {
  font-size: var(--font-size-title-large);
  line-height: calc(var(--font-size-title-large) * 1.25);
}
