.Header {
  --header-horizontal-margin: var(--page-margin);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background: var(--color-accent-primary);
  display: flex;
  justify-content: center;
  z-index: var(--header-z-index);
}

.Content {
  padding: 0 var(--header-horizontal-margin);
  width: 100vw;
  height: var(--header-height);
  max-width: var(--content-max-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  transition: height 0.2s ease-in-out;
}

.Content.hide {
  height: 0;
  overflow: hidden;
}

.Nav {
  display: flex;
  gap: 2.5rem;
}

.Nav > a {
  color: var(--color-background-secondary);
  font-weight: var(--font-weight-light);
}

.HamburgerMenu {
  --translate-x: 25px;
  display: none;
  background: none;
  border: none;
  padding: 0.25rem 0.5rem;
  margin: 0 -0.75rem 0 0;
  position: fixed;
  top: calc(var(--page-margin) / 2);
  right: var(--page-margin);
}

.HamburgerMenu > svg > line {
  transition: all 0.1s ease;
  stroke: var(--color-background-secondary);
}

.HamburgerMenu > svg > line:nth-child(3) {
  transform-origin: 40px 64px;
}

.HamburgerMenu.active > svg > line:nth-child(3) {
  transform: translateX(var(--translate-x)) rotate(45deg);
}

.HamburgerMenu > svg > line:nth-child(4) {
  transform-origin: 40px 192px;
}

.HamburgerMenu.active > svg > line:nth-child(4) {
  transform: translateX(var(--translate-x)) rotate(-45deg);
}

.HamburgerMenu.active > svg > line:nth-child(2) {
  opacity: 0;
}

@media only screen and (max-width: 750px) {
  .HamburgerMenu {
    display: block;
  }

  .Nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: var(--color-text-primary);
    flex-direction: column;
    padding: var(--page-margin);
    padding-top: 4.5rem;
    gap: 2rem;
    overflow: hidden;
    transition: all 0.25s ease-out;
  }

  .Nav > a {
    transition: all 0.25s ease;
    font-weight: 600;
  }

  .Nav.hide > a {
    opacity: 0;
    transform: translateY(-10px);
  }

  .Nav.show > a {
    transition-delay: 0.25s;
    opacity: 1;
  }

  .Nav.hide {
    width: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
