.label {
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: var(--semantic-color-text-primary);
    font-size: var(--font-size-details);
}

.input {
    max-width: min(72ch, 100%);
    border-radius: 4px;
    border: 1px solid var(--semantic-color-text-primary);
    background: none;
    padding: 4px 8px;
    font-size: var(--font-size-body);
    color: inherit;
    font-family: inherit;
}