.Link {
    color: var(--color-brand-light-red);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-semibold);
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    white-space: nowrap;
    outline: none;
    transition: filter 0.1s ease-in-out;
    width: max-content;
}

.Link:hover, .Link:focus-visible {
    filter: brightness(80%);
    text-decoration: underline;
}

.Link > svg {
    align-self: flex-end;
    margin-left: 0.5rem;
    transition: transform 0.1s ease-in-out;
}

.Link.right:hover > svg,
.Link.right:focus-visible > svg {
    transform: translateX(0.5rem);
}

.Link.down:hover > svg,
.Link.down:focus-visible > svg {
    transform: translateY(0.25rem);
}
