.LinkButton {
    background: var(--color-brand-light-red);
    color: var(--color-brand-extra-light-teal);
    outline: none;
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-semibold);
    font-family: var(--font-family-primary);
    cursor: pointer;
}

.LinkButton:hover,
.LinkButton:focus-visible {
    color: var(--color-brand-light-red);
    background: var(--color-brand-extra-light-teal);
    box-shadow: 0 0 0 3px var(--color-brand-light-red);
}

.LinkButton:active {
    color: var(--color-brand-extra-light-teal);
    background: var(--color-brand-dark-red);
    box-shadow: none;
}