.Link {
    position: relative;
    color: var(--color-brand-teal);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-semibold);
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    white-space: nowrap;
    outline: none;
    transition: filter 0.1s ease-in-out;
    width: max-content;
}

.Link:before {
    content: "";
    height: 2px;
    background: var(--color-brand-light-red);
    position: absolute;
    bottom: -3px;
    right: 0;
    left: 0;
    transition: opacity 100ms;
}

.Link:hover:before,
.Link:focus-visible:before {
    opacity: 0;
}

.Link > svg {
    align-self: flex-end;
    margin-left: 0.25rem;
    transition: transform 0.1s ease-in-out;
}

.Link:focus-visible {
    outline: var(--outline);
}

.Link.right:hover > svg,
.Link.right:focus-visible > svg {
    transform: translateX(0.25rem);
}

.Link.down:hover > svg,
.Link.down:focus-visible > svg {
    transform: translateY(0.25rem);
}
