.Logo {
  --font-size: 24px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.5rem;
}

.Logo > img {
  width: 175px;
  height: 33px;
}

@media only screen and (max-width: 750px) {
  .Logo > img {
    width: 133px;
    height: 25px;
  }
}
