.container {
  position: relative;
  color: var(--semantic-color-interaction-primary);
  font-size: var(--font-size-details);
  line-height: var(--line-height-details);
  width: max-content;
  max-width: 100%;
}

.container > ol {
  padding: 0;
  margin: 0 0 0 2rem;
}

.container a {
  display: flex;
  align-items: center;
  white-space: nowrap;
  gap: 0.25rem;
  max-width: 100%;
}

.container a:focus {
  outline: none;
  outline: var(--semantic-color-interaction-outline);
}

.container a > div {
  text-overflow: ellipsis;
  overflow: hidden;
}
