.ReferenceLinkSummary {
  position: relative;
  color: var(--color-brand-light-red);
  font-size: var(--font-size-details);
  line-height: var(--line-height-details);
  width: max-content;
  max-width: 100%;
}

.ReferenceLinkSummary > ol {
  padding: 0;
  margin: 0 0 0 2rem;
}

.ReferenceLinkSummary a {
  display: flex;
  align-items: center;
  white-space: nowrap;
  gap: 0.25rem;
  max-width: 100%;
}

.ReferenceLinkSummary a:focus {
  outline: none;
  outline: var(--outline);
}

.ReferenceLinkSummary a > div {
  text-overflow: ellipsis;
  overflow: hidden;
}
