.SlideMenu {
    position: fixed;
    z-index: 99;
    transform: translateX(100%);
    transition: all 0.2s ease-in-out;
    width: 100vw;
}

.SlideMenu > ul {
    list-style: none;
    margin: 0;
    background: var(--color-text-primary);
    height: 100vh;
}

.SlideMenu > ul > li {
    color: var(--color-background-primary);
    margin-bottom: 1rem;
}

.SlideMenu > ul > li > a {
    font-size: 24px;
    color: var(--color-background-primary);
}

.SlideMenu.expanded {
    transform: translateX(0);
}

.Link {
    width: 100%;
    justify-content: space-between;
}

.Link > svg {
    align-self: center;
}