@media screen and (min-width: 750px) {
  .Image {
    margin-bottom: 32px !important;
  }
}

.Body {
  margin-bottom: 2rem;
}

.Link {
  color: var(--color-brand-light-red);
}

.Link:focus-visible,
.Link:focus {
  outline: var(--outline);
}

.List {
  color: var(--color-text-primary);
  font-size: var(--font-size-body);
  margin: 0 0 2rem;
  max-width: var(--text-max-width);
  width: 100%;
}

.List > li {
  line-height: var(--line-height-body);
}

.Ingress {
  margin-top: 2rem;
}

.Section {
  max-width: 100vw;
}

.Section > article {
  flex: 1;
  min-width: 300px;
}

.Section > article > h2 {
  margin-bottom: 1.5rem;
}

.Section > article > p {
  margin-bottom: 1rem;
}
