.header {
  margin-bottom: var(--block-m);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin-bottom: var(--block-l);
}

.pitch {
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.pitch .textContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: max-content;
}

.list {
  margin: 0;
  padding: 0;
}

.list > p {
  font-weight: var(--font-weight-bold);
}

.list li {
  margin: 0 0 0 20px;
}

.register form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.imageContainer {
  position: relative;
  aspect-ratio: 675 / 450;
}

.imageContainer img {
  object-fit: cover;
}

@media screen and (min-width: 1000px) {
  .pitch {
    flex-direction: row;
  }

  .textContainer {
    flex: 1;
  }

  .imageContainer {
    flex: 1;
    height: max-content;
  }
}
