/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
  background-color: var(--semantic-color-background-primary);
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

body {
  container-type: inline-size;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p {
  color: var(--semantic-color-text-primary);
}

mark {
  background: transparent;
  font-weight: var(--font-weight-bold);
  color: var(--semantic-color-interaction-primary);
}

:root {
  /*Brand colors*/
  --color-brand-teal: #005B61;
  --color-brand-dark-teal: #002D30;
  --color-brand-light-teal: #effcff;
  --color-brand-pink: #e0006c;
  --color-brand-grey: #121e25;
  --color-brand-dark-red: #6b283e;

  /*Semantid colors*/
  --semantic-color-text-primary: var(--color-brand-grey);
  --semantic-color-text-primary-inverse: var(--color-brand-light-teal);
  --semantic-color-background-primary: var(--color-brand-light-teal);
  --semantic-color-interaction-primary: var(--color-brand-pink);
  --semantic-color-disabled: #878c8c;
  --semantic-color-interaction-outline: 2px solid var(--color-brand-teal);

  /*Text*/
  --font-size-buttons: 1rem;
  --font-size-buttons-small: 0.8rem;
  --font-size-body: 1rem;
  --font-size-title-extra-small: 1.2rem;
  --font-size-title-small: 1.25rem;
  --font-size-title-medium: 1.5rem;
  --font-size-title-medium-large: 1.75rem;
  --font-size-title-large: 2rem;
  --font-size-details: 1rem;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-black: 900;
  --font-weight-light: 300;
  --line-height-body: calc(var(--font-size-body) * 1.75);
  --line-height-details: 1.75rem;

  /*Layout*/
  --header-height: 75px;
  --content-max-width: 2000px;
  --header-z-index: 10000;
  --padding-horizontal: calc(
    max((100vw - var(--content-max-width)) / 2, var(--page-margin))
  );
  --text-max-width: min(750px, 100%);
  --page-margin: 1.5rem;
  --block-xs: 8px;
  --block-s: 16px;
  --block-m: 24px;
  --block-l: 40px;
  --block-xl: 64px;
}

@media (min-width: 750px) {
  :root {
    /*Text*/
    --font-size-body: 1.125rem;
    --font-size-title-extra-small: 1.5rem;
    --font-size-title-small: 1.75rem;
    --font-size-title-medium: 2.5rem;
    --font-size-title-medium-large: 3.25rem;
    --font-size-title-large: 4rem;

    /*Layout*/
    --page-margin: 2rem;
    --block-xs: 16px;
    --block-s: 24px;
    --block-m: 40px;
    --block-l: 64px;
    --block-xl: 90px;
  }
}

@media (min-width: 1250px) {
  :root {
    --header-height: 110px;
  }
}

@media (min-width: 1500px) {
  :root {
    /*Text*/
    --font-size-body: 1.375rem;
    --font-size-title-extra-small: 1.75rem;
    --font-size-title-small: 2.25rem;
    --font-size-title-medium: 3rem;
    --font-size-title-medium-large: 4rem;
    --font-size-title-large: 5.625rem;

    /*Layout*/
    --page-margin: 4rem;
    --block-xs: 24px;
    --block-s: 40px;
    --block-m: 64px;
    --block-l: 90px;
    --block-xl: 120px;
  }
}