.content {
    display: flex;
    flex-direction: column;
}

.form {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 600px;
}

.form button {
    margin-top: 24px;
}

.addressDetails {
    width: 100%;
    display: flex;
    gap: 16px;
}

.addressDetails > *:first-of-type {
    max-width: 200px;
}

.addressDetails > * {
    flex: 1;
}