.Section {
  max-width: 100vw;
}

.Section > article {
  flex: 1;
  min-width: 300px;
}

.Section > article > h2 {
  margin-bottom: 1.5rem;
}

.Section > article > p {
  margin-bottom: 1rem;
}

.Cards {
  display: flex;
  gap: 5rem;
  width: 100vw;
  overflow-x: scroll;
  margin-left: calc(var(--page-margin) * -1);
  padding-left: var(--page-margin);
  padding-bottom: 1rem;
}

.Card {
  --width: 400px;
  width: var(--width);
  min-width: var(--width);
}

.Card:last-of-type {
  margin-right: var(--page-margin);
}

@media only screen and (max-width: 750px) {
  .Cards {
    gap: 2rem;
  }
}
