.Hero {
  background-color: var(--color-background-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100vw;
}

.Hero > * {
  flex: 1;
}

.HeroImageContainer {
  --hero-image-width: calc(600px * 0.7);
  --hero-image-height: calc(700px * 0.7);
  width: var(--hero-image-width);
  height: var(--hero-image-height);
  max-width: max(var(--hero-image-width), 90vw);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.HeroImage {
  mix-blend-mode: darken;
}

@media only screen and (max-width: 800px) {
  .Hero {
    flex-direction: column;
    padding-top: 2rem;
  }
  .HeroImageContainer {
    padding-top: 2rem;
    width: 300px;
    height: 350px;
  }
}

.Section {
  height: max-content;
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  background: var(--color-background-primary);
}

.Section > article {
  flex: 1;
  min-width: 300px;
}

.Section > article > h2 {
  margin-bottom: 1.5rem;
}

.Section > article > p {
  margin-bottom: 1rem;
}

.Cards {
  display: flex;
  flex-direction: column;
}

.Card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 1rem;
}

.Card > p:first-of-type {
  margin-bottom: 0.5rem;
}

.Card:first-of-type:before,
.Card:not(:last-of-type):after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--color-text-primary);
  left: 0;
  filter: none !important;
}

.Card:first-of-type:before {
  top: 0;
}

.Card:not(:last-of-type):after {
  bottom: 0;
}

.Date {
  font-size: var(--font-size-details) !important;
  font-weight: var(--font-weight-regular);
}
