.content {
    flex-direction: column;
    gap: 48px;
}

.content hr {
    height: 1px;
    width: 100%;
    border: none;
    background: var(--semantic-color-text-primary);
    margin: 0;
}

.grid {
    width: max-content;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 32px;
    row-gap: 8px;
}

.flexColumn {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 32px;
}