html,
body {
  padding: 0;
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
  background-color: var(--color-text-primary);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p {
  color: var(--color-text-primary);
}

:root {
  /*Colors*/
  --color-brand-dark-teal: #003339;
  --color-brand-teal: #116773;
  --color-brand-extra-light-teal: #effcff;
  --color-brand-orange: #feb17c;
  --color-brand-light-red: #E54961;
  --color-brand-dark-red: #6b283e;

  --color-background-primary: #ffffff;
  --color-background-secondary: #effcff;
  --color-accent-primary: #116773;
  --color-accent-secondary: var(--color-brand-light-red);
  --color-text-primary: var(--color-brand-dark-teal);
  --color-text-heading: var(--color-text-primary);

  /*Text*/
  --font-family-primary: "IBM Plex Sans", sans-serif;
  --font-size-buttons: 1rem;
  --font-size-body: 1.125rem;
  --font-size-title-small: 1.5rem;
  --font-size-title-medium: 2.5rem;
  --font-size-title-medium-large: 3rem;
  --font-size-title-large: 4rem;
  --font-size-details: 1rem;
  --line-height-body: 2rem;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-black: 900;
  --font-weight-light: 300;

  /*Layout*/
  --page-margin: 4rem;
  --header-height: 110px;
  --content-max-width: 1220px;
  --header-z-index: 10000;
  --padding-horizontal: calc(max((100vw - var(--content-max-width)) / 2, var(--page-margin)));
}

@media only screen and (max-width: 1250px) {
  :root {
    /*Text*/
    --font-size-buttons: 1rem;
    --font-size-body: 1.125rem;
    --font-size-title-medium: 1.5rem;
    --font-size-title-medium-large: 2.25rem;
    --font-size-title-large: 3rem;

    /*Layout*/
    --page-margin: 2rem;
  }
}

@media only screen and (max-width: 750px) {
  :root {
    /*Text*/
    --font-size-title-large: 2rem;

    /*Layout*/
    --header-height: 75px;
    --page-margin: 1.5rem;
  }
}